{% extends 'base.html.twig' %}

{% block title %}Modifier un Univers{% endblock %}

{% block body %}
    <h1>Modifier un Univers</h1>

    {{ include('category/_form.html.twig', {'button_label': ' Modifier'}) }}

    <a class="btn btn-sm btn-primary mt-3 mb-3 bi bi-skip-backward" href="{{ path('app_category_index') }}"> Retour</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
