{% extends 'base.html.twig' %}

{% block title %}Nouvel Univers{% endblock %}

{% block body %}
    <h1>Créer un nouvel Univers</h1>

    {{ include('category/_form.html.twig') }}

    <a class="btn btn-sm btn-primary mt-3 mb-3 bi-skip-backward" href="{{ path('app_category_index') }}"> Retour</a>
{% endblock %}
