{% extends 'base.html.twig' %}

{% block title %}Modifier un avis{% endblock %}

{% block body %}
    <h1>Modifier un avis</h1>

    {{ include('review/_form.html.twig', {'button_label': ' Modifier'}) }}

    <a class="btn btn-sm btn-primary mt-3 mb-3 bi bi-skip-backward" href="{{ path('app_review_index') }}"> Retour</a>

    {{ include('review/_delete_form.html.twig') }}
{% endblock %}
