<div class="mb-3 d-flex align-items-center justify-content-end">
    <span class="d-inline-block mr-1">Trier par</span>
    <form action="" method="get">
        <select name="tri" class="custom-select w-auto border-0">
            <option value="notSorted" {% if app.request.query.get('tri') is not defined %} selected {% endif %}>Défaut</option>
            <option value="user" {% if app.request.query.get('tri') == 'user' %} selected {% endif %}>Utilisateur</option>
            <option value="title" {% if app.request.query.get('tri') == 'title' %} selected {% endif %}>Titre</option>
            <option value="createdAt" {% if app.request.query.get('tri') == 'createdAt' %} selected {% endif %}>Date de création</option>
        </select>
        <button class="btn btn-outline-primary" type="submit">Valider</button>
    </form>
</div>