{% extends 'base.html.twig' %}

{% block title %}Modifier un écrit{% endblock %}

{% block body %}
    <h1>Modifier un écrit</h1>

    {{ include('post/_form.html.twig', {'button_label': ' Modifier'}) }}

    <a class="btn btn-sm btn-primary mt-3 mb-3 bi bi-skip-backward" href="{{ path('app_post_index') }}"> Retour</a>

    {{ include('post/_delete_form.html.twig') }}
{% endblock %}
