{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('genre/_form.html.twig') }}

    <a class="btn btn-sm btn-primary mt-3 mb-3" href="{{ path('app_user_index') }}"> Retour</a>
{% endblock %}
